@model FronEnd.API.Models.FamiliaProducto

@{ ViewData["Title"] = "Details"; }
@using Microsoft.AspNetCore.Http

@{ var vUser = Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser--> }
@if (vUser != null && Context.Session.GetString("Rol") == "1")
{

<div class="col-lg-6">
    <div class="card mb-4 py-3 border-left-primary">
        <div class="card-body">
            <h4>Informacion Familia Producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreFamiliaProducto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreFamiliaProducto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CodigoCabys)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CodigoCabys)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdFamiliaProducto">Editar Datos</a> |
            <a asp-action="Index">Ver Familias Productos</a>
        </div>
    </div>
</div> }
            else
            {
<h2>No tienes acceso a esta pagina</h2>}



