@model FronEnd.API.Models.HistorialFactura

@{ ViewData["Title"] = "Delete"; }
@using Microsoft.AspNetCore.Http

@{ var vUser = Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser--> }
@if (vUser != null && Context.Session.GetString("Rol") == "1" )
{
<h1>Eliminar Factura</h1>

                <h3>Esta seguro que desea eliminar esta Factura?</h3>
                                <div>
                                    <h4>HistorialFactura</h4>
                                    <hr />
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.CodigoFactura)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.CodigoFactura)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.FechaFactura)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.FechaFactura)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.TotalFactura)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.TotalFactura)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.IdClienteNavigation)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.IdClienteNavigation.Canton)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.IdEmpleadoNavigation.ApellidoEmpleado)
                                        </dd>
                                    </dl>

                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="IdFactura" />
                                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                                        <a asp-action="Index">Ver Historial Facturas</a>
                                    </form>
                                </div> }
                                            else
                                            {
                                <h2>No tienes acceso a esta pagina</h2>}


