@model FronEnd.API.Models.HistorialFactura

@{
    ViewData["Title"] = "Details";
}



<div class="col-lg-6">
    <div class="card mb-4 py-3 border-left-primary">
        <div class="card-body">
            <h4>Informacion Factura</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CodigoFactura)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CodigoFactura)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaFactura)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaFactura)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalFactura)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalFactura)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdClienteNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdClienteNavigation.Canton)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdEmpleadoNavigation.ApellidoEmpleado)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdFactura">Editar Datos</a> |
            <a asp-action="Index">Ver Historial Facturas</a>
        </div>
    </div>
</div>