@model IEnumerable<FronEnd.API.Models.HistorialFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Ingresar nuevo Historial Factura</a>
</p>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CodigoFactura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFactura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalFactura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdClienteNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdClienteNavigation.NombreCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.NombreEmpleado)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdFactura">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.IdFactura">Detalle</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdFactura">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>