@model IEnumerable<FronEnd.API.Models.HistorialFactura>

@{ ViewData["Title"] = "Index"; }


@using Microsoft.AspNetCore.Http

@{ var vUser = Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser--> }
@if (vUser != null && Context.Session.GetString("Rol") == "1" || Context.Session.GetString("Rol") == "2")
{
<h1>Historial Facturas</h1>

                <p>
                    <a asp-action="Create">Ingresar nueva Factura</a>
                </p>
                                <div class="card shadow mb-4">

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Codigo Factura

                                                        </th>
                                                        <th>
                                                            Fecha


                                                        </th>
                                                        <th>
                                                            Monto Total

                                                        </th>
                                                        <th>
                                                            Cliente

                                                        </th>
                                                        <th>
                                                            Empleado

                                                        </th>
                                                        <th>
                                                            Accion
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodigoFactura)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaFactura)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalFactura)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdClienteNavigation.NombreCliente)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.NombreEmpleado)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdFactura">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdFactura">Detalle</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdFactura">Eliminar</a>
                                        </td>
                                    </tr>}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> }
                                            else
                                            {
                                <h2>No tienes acceso a esta pagina</h2>}



