@model IEnumerable<FronEnd.API.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Ingresar nuevo Cliente</a>
</p>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CedulaCliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaIngreso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreCliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CorreoEmpleado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Provincia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Canton)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Distrito)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TelefonoEmpleado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CedulaCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaIngreso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorreoEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Provincia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Canton)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Distrito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelefonoEmpleado)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.IdCliente">Detalle</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdCliente">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>