@model FronEnd.API.Models.Producto

@{ ViewData["Title"] = "Details"; }

@using Microsoft.AspNetCore.Http

@{ var vUser = Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser--> }
@if (vUser != null && Context.Session.GetString("Rol") == "1" || Context.Session.GetString("Rol") == "2")
{
<div class="col-lg-6">
    <div class="card mb-4 py-3 border-left-primary">
        <div class="card-body">

            <h4>Informacion Producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CodigoBarras)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CodigoBarras)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaIngreso)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreProducto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreProducto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CantidadProducto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CantidadProducto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrecioUnitario)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PrecioUnitario)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PrecioVenta)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PrecioVenta)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdFamiliaProductoNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdFamiliaProductoNavigation.NombreFamiliaProducto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdProveedorNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdProveedorNavigation.Canton)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdProducto">Editas Datos</a> |
            <a asp-action="Index">Ver Productos</a>
        </div>
    </div>
</div> }
            else
            {
<h2>No tienes acceso a esta pagina</h2>}



