@model IEnumerable<FronEnd.API.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Ingresar nuevo Producto</a>
</p>
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Codigo Barras

                        </th>
                        <th>
                            Fecha

                        </th>
                        <th>
                            Nombre

                        </th>
                        <th>
                            Cantidad

                        </th>
                        <th>
                            Precio

                        </th>
                        <th>
                            Venta

                        </th>
                        <th>
                            Familia

                        </th>
                        <th>
                            Proveedor

                        </th>
                        <th>
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoBarras)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaIngreso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantidadProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecioUnitario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecioVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFamiliaProductoNavigation.NombreFamiliaProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Canton)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.IdProducto">Detalle</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>