@model IEnumerable<FrontEnd.W.Models.FamiliaProducto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreFamiliaProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCabys)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFamiliaProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCabys)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFamiliaProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFamiliaProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFamiliaProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
