@model FronEnd.API.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.NombreRol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmpleado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
