@model IEnumerable<FronEnd.API.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Canton)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distrito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.NombreRol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEmpleado">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
